div{
    background-color: white;
    align-items: center;
    border-radius: 5px;
    height: 500px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 70px;
    margin-bottom: 70px;
}
body{
    background-image: linear-gradient(purple,aqua);
    background-repeat: no-repeat;
}
div > input{
   text-align: center;
   margin-right: 10px;
   margin-bottom: 5px;
   margin-top: 5px;
   background-color:lightgrey;
   border-color: lightgray;
   border-style: solid;
   box-sizing: border-box;
   bottom: 2px;
   background-origin: padding-box;
   padding-left: 0px;
   border-radius: 3px;
}
.w{
   margin-left: 100px;
}
.h{
   margin-left: 75px;
}
.e{
    background-color: orangered;
    color: white;
    border-radius: 3px;
    border-color: orangered;
     margin-left: 100px;
}
.y{
    
    border-bottom: 2px;
margin-left: 675px;
display: inline;
display: inline;
border-bottom-style: solid;
border-bottom-color: gray;

}